<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/headlink.ejs') %>
  <body class="fixed-navbar">
    <div class="page-wrapper">
      <%- include('layouts/headandnav.ejs') %>

      <div class="content-wrapper">
        <!-- START PAGE CONTENT-->
        <div class="page-content fade-in-up">
          <div class="ibox">
            <div class="ibox-head">
              <div class="ibox-title">Basic Validation</div>
              <div class="ibox-tools">
                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
              </div>
            </div>
            <div class="ibox-body">
              <form
                class="form-horizontal"
                id="form-sample-1"
                method="post"
                novalidate="novalidate"
                action="/admin/createuser"
              >
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="name" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="email" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Website</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="url" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Number</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="number" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Min length</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="min" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Max length</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="max" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label"
                    >EqualTo (confirm)</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      id="password"
                      type="text"
                      name="password"
                      placeholder="password"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10 ml-sm-auto">
                    <input
                      class="form-control"
                      type="text"
                      name="password_confirmation"
                      placeholder="confirm password"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10 ml-sm-auto">
                    <button class="btn btn-info" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT-->
        <%- include('layouts/foot.ejs') %>
      </div>
    </div>
    <%- include('layouts/footer.ejs') %>
    <!-- PAGE LEVEL PLUGINS-->
    <script
      src="./assets/vendors/jquery-validation/dist/jquery.validate.min.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      $("#form-sample-1").validate({
        rules: {
          name: {
            minlength: 2,
            required: !0,
          },
          email: {
            required: !0,
            email: !0,
          },
          url: {
            required: !0,
            url: !0,
          },
          number: {
            required: !0,
            number: !0,
          },
          min: {
            required: !0,
            minlength: 3,
          },
          max: {
            required: !0,
            maxlength: 4,
          },
          password: {
            required: !0,
          },
          password_confirmation: {
            required: !0,
            equalTo: "#password",
          },
        },
        errorClass: "help-block error",
        highlight: function (e) {
          $(e).closest(".form-group.row").addClass("has-error");
        },
        unhighlight: function (e) {
          $(e).closest(".form-group.row").removeClass("has-error");
        },
      });
    </script>
  </body>
</html>
